<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

	<test name="Create Computer">
		<classes>
			<class name="com.backbase.test.tests.CreateNewValidComputer" />
		</classes>
	</test> <!-- Includes Delete and Search -->

	<test name="Edit Computer">
		<classes>
			<class name="com.backbase.test.tests.EditComputer" />
		</classes>
	</test> <!-- Includes Delete and Search -->

    <test name="Create Computer with Null Name">
        <classes>
            <class name="com.backbase.test.tests.CreateComputerWithoutName" />
        </classes>
    </test> <!-- Includes Delete and Search -->

</suite> <!-- Suite -->
