<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

	<!--<test name="AddComputer">-->
		<!--<parameter name="company" value="RCA" />-->
		<!--<classes>-->
			<!--<class name="com.backbase.test.tests.CreateNewComp" />-->
		<!--</classes>-->
	<!--</test> &lt;!&ndash; Search &ndash;&gt;-->

	<!--<test name="AddOneMoreComputer">-->
		<!--<parameter name="company" value="RCA" />-->
		<!--<classes>-->
			<!--<class name="com.backbase.test.tests.CreateSameComputer" />-->
		<!--</classes>-->
	<!--</test> &lt;!&ndash; Search &ndash;&gt;-->

	<test name="Edit Computer">
		<classes>
			<class name="com.backbase.test.tests.EditComputer" />
		</classes>
	</test> <!-- Search -->

</suite> <!-- Suite -->
